// Add your custom styles here
.DocSearch-content {
  h1 {
    font-size: 32px;
    font-weight: 300;
  }

  h2 {
    font-size: 26px;
    font-weight: 400;
  }

  h3 {
    font-size: 22px;
    font-weight: 300;
  }

  li {
    padding-left: 0.25rem;
    margin-left: 1rem;
  }
}
